.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin:2px;
    color: black;
}

.display
{
    width: 214px;
    margin:1%;
}

.button.btn.btn-primary{
    background-color: palevioletred;
}

.button.btn.btn-info{
    background-color: rgb(176, 236, 120);
}

.button.btn.btn-success{
    background-color: rgb(46, 65, 235);
}

textarea{
    background-color: burlywood;
}